* {
    box-sizing: border-box;
  }
  
body {
  margin: 0;
  padding: 0 1rem;
}
  
.lists {
  display: flex;
  min-height: 100vh;
}
  
.list {
  border: 1px solid #555;
  width: 300px;
  min-height: 10%;
  padding: 0 0.75rem;
}
  
.list-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5rem;
  height: 3rem;
  padding: 0.75rem;
  font-weight: 600;
  text-align: center;
}
  
.card {
  width: 100%;
  border: 1px solid #999;
  padding: 0.75rem;
  border-radius: 8px;
  color: #555;
  margin: 0.5rem 0;
}
