* {
    box-sizing: border-box;
  }
  
body {
  margin: 0;
  padding: 0 1rem;
}
  
.lists {
  display: flex;
  min-height: 100vh;
}
  
.list {
  border: 1px solid #555;
  width: 300px;
  min-height: 10%;
  padding: 0 0.75rem;
}
  
.list-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5rem;
  height: 3rem;
  padding: 0.75rem;
  font-weight: 600;
  text-align: center;
}
  
.card {
  width: 100%;
  border: 1px solid #999;
  padding: 0.75rem;
  border-radius: 8px;
  color: #555;
  margin: 0.5rem 0;
}

/* == Modal == */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 50%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content{
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-body {
  padding: 1rem;
}

/* == Board Navigation == */
.board-nav {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.board-selector {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: 600;
}

/* == AddEntity == */
.dropbtn {
  background-color: #3498DB;
  color: #fff;
  padding: 1rem;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  border: 1px solid red;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  display: none;
  /* border: 1px solid red; */
  min-width: 160px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover { 
  background-color: #ddd;
}

.show {
  display: block;
}